.attractionImg {
    width: 30vw;
}
.trophyImg {
    width: 5vw;
}
figcaption {
    
    width: 30vw;
    background-color: black;
    color: white;
}
div {
    background-color: rgb(196, 196, 196);
}
article {
    
}
footer {
    margin-top: -2.7vh;
    background-color: black;
    color: white
}
a {
    color: white;
}
a:link {
   background-color: rgb(13, 150, 32); 
}
hr {
    border: 1px solid rgb(125, 247, 131);
}